<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<Component Id="Reg" Directory="INSTALLFOLDER" Guid="{3EC8D212-0E21-4FAB-9F1E-5DB5F1A4E4B3}">
			<RegistryValue Root="HKCU" Key="Software\SolidWorks\AddInsStartup\{63496b16-e9ad-4d3a-8473-99d124a1672b}" Value="1" Type="integer" Action="write" />
			<RegistryValue Root="HKLM" Key="Software\SolidWorks\Addins\{63496b16-e9ad-4d3a-8473-99d124a1672b}" Value="0" Type="integer" Action="write" />
			<RegistryValue Root="HKLM" Key="Software\SolidWorks\Addins\{63496b16-e9ad-4d3a-8473-99d124a1672b}" Name="Description" Value="Add-in for managing custom toolbars" Type="string" Action="write" />
			<RegistryValue Root="HKLM" Key="Software\SolidWorks\Addins\{63496b16-e9ad-4d3a-8473-99d124a1672b}" Name="Title" Value="MyToolbar (Beta)" Type="string" Action="write" />
		</Component>
	</Fragment>
</Wix>
